body {
    background: linear-gradient(#444488, #222266);
    height: 1000px;
    width: auto;
    display: flex;
    justify-content: center;
    margin: 3em;
}

#container {
    width: 1000px;
    height: auto;
    border: 2px solid #666666;
    background: #444444;
    border-radius: 15px;
    font-family: Calibri;
    font-size: 16px;
    color: #ffffff;
    padding: 2em;
}

#components {
    height: 100px;
    max-height: 200px;
    font-size: 12px;
}

#main {
    max-width: 100%;
    height: 600px;
    border: 3px solid #888888;
    border-radius: 8px;
    vertical-align: text-bottom;
    background: #ffffff;
    color: #000000;
    padding: 1em;
    margin: 1em;
    font-size: 12px;
    font-family: Verdana;
    scroll-behavior: auto;
    overflow-y: scroll;
}

.button {
    background: linear-gradient(#000022, #000000);
    border: 2px solid #444488;
    width: 100px;
    border-radius: 5px;
    padding: 5px auto 5px auto;
    font-size: 10px;
    color: #ffffaa;
    margin: 0 1em 0 1em;
}
